# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Rest
Algorithms/build
Algorithms/CMakeLists.txt.user
Algorithms/CMakeCache.txt
Algorithms/CMakeFiles
Algorithms/CMakeScripts
Algorithms/Testing
Algorithms/Makefile
Algorithms/cmake_install.cmake
Algorithms/install_manifest.txt
Algorithms/compile_commands.json
Algorithms/CTestTestfile.cmake
Algorithms/_deps